// Page header
#front-hero {
	.marketing {
		@include grid-row();
		max-width:100%;
        text-align:center;
	}

	@include breakpoint(small) {
		background-size: cover;
		background-position: top;
		padding: rem-calc(65%) 0;
		margin: 0 0 0;
		height: auto;
		position: relative;
		text-align: left;
        
	
    }
    

	@include breakpoint(medium) {
		background-size: cover;
		background-position: top center;
		height: rem-calc(685);
		margin: 0 0 0;
	}

	#watch {

		@include breakpoint(small) {
			@include grid-column(7);
			@include grid-column-position(-5);
		}

		@include breakpoint(medium) {
			@include grid-column(12);
			@include grid-column-position(0);
		}

		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}

	.tagline {
        font-family: 'Noto Serif', serif;

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(12);
			padding-top: 10rem;
		}

	}

	h1 {
        font-family: 'Dancing Script', cursive;
		color: #fff;
        font-size: 7em;
		font-weight: 700;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 7em;
		}

	}

	h4 {
        
      
        
        
        font-family: 'Noto Serif', serif;
		color: #fefefe;
		font-weight: 300;
		
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        
          @include breakpoint(small) {
			font-size: 1em;
		}

		@include breakpoint(medium) {
			font-size: 2em;
		}
        
       
        
	}

	.download { margin-top: rem-calc(20); }

}

.home-blurb {
    // margin-left: 20%;
    // width:65%;
    font-weight: 300;
    font-family:'Lato',sans-serif;
    color:#e3c7c6;
   padding: 15px 0px 30px 0px;
   
   
   a {color:#fff;}
    
    h3.widget-title{
        font-family: 'Noto Serif', 'serif';
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: left;
        color:#e3c7c6;
        
    }
}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}

div.bx-wrapper {
    max-width:100%!important;
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}


// Benefits
.benefits {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}

.home-block-1 {
    
    a {
        width:100%;
        display:block;
        background-color: rgba(119, 74, 74, 0.85);
       
        padding: 10px;
        font-family: 'Noto Serif', serif;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFF;
        position: absolute;
        /*left: 0;
                right: 0;*/
        bottom: 10px;
        width: 100%;
    }
    
    height: 166px;
    margin: 0px;
    position: relative;
    
}

.home-event {
margin:12px 0px 0px 0px;
position: relative;
    .textwidget {
        background-color: rgba(119, 115, 74, 0.85);
        padding: 15px;
        color: #FFF;
        text-align: center;
    }

}

.home-history {
    margin:0px!important;
    position: relative;
    height: 490px;
    a {color:#fff;}
    .textwidget {
        background-color: rgba(119, 74, 74, 0.85);
        padding: 15px;
        color: #FFF;
        text-align: center;
        position: absolute;
bottom: 0;
    }

}

.home-misc {
    height: 166px;
    margin: 20px 0px;
position: relative;
    
}
