#page-full-width {
  @include grid-row();
  margin-top: 0rem;
  
 

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

}

.page-title {
    position:absolute;
    bottom:10px;
    width:100%;
}

 #featured-hero h1.entry-title {
  font-family: 'Dancing Script', 'cursive';
    font-weight: 700;
    font-size: 72px;
    color:#fff;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding:0 10px;
   
    
  }
  
  .interior-blurb {
    // margin-left: 20%;
    // width:65%;
    font-weight: 300;
    font-family:'Lato',sans-serif;
    color:#e3c7c6;
   padding: 15px 0px 30px 0px;
   
   
   a {color:#fff;}
    
    h3.widget-title{
        font-family: 'Noto Serif', 'serif';
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: left;
        color:#e3c7c6;
        
    }
}
