.wp-caption{
  padding:rem-calc(4);
}

.wp-caption img{
  max-width:100%;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.bios img {
    width:200px;
    max-width:200px;
    float:left;
    clear:left;
    padding:10px 15px 15px 0;
    
}

.bio {clear:both; margin-top:20px;}

.bio h2 {
    padding-top:20px;
}
