@include breakpoint(small) {
	#featured-hero {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		margin: 0 0 0;
		position: relative;
		height: rem-calc(200);
		}

		.no-featured-image-set {
			height: rem-calc(16) !important;
		}
}

@include breakpoint(medium) {
	#featured-hero {
		height: rem-calc(400);
		}
}
