.off-canvas {
    
  background:#333;
  
  a {
      color:#ccc;
  }
  
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.off-canvas-wrapper {
    background:#333;
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
