#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	
	margin-top: rem-calc(60);
   
   
     .row {
             border-top: 1px solid #ccc;
             margin-top:-30px;
             
       
        }
    
	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
         background:url(../images/fly-small.jpg) center top no-repeat;
       
       

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
        
        
	}
    a {color:#603537;}
}
