.top-bar {

.top-bar-right {
    // float:left;
}

  .menu .home a {
    font-size: 1rem;
    
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #603537;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;

    &:hover:not(.button) {
      background-color: #603537;
      color:#fff!important;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
    text-decoration:none;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: 1px solid #603537;
    }
  }

  .dropdown.menu .submenu {
    background-color: #603537;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }


}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
